@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eff3f8;
}

.category-button {
  color: var(--color-button);
}

.category-button:hover {
  background-color: var(--color-button);
  color: white;
}
