@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eff3f8;
}

.category-button {
  color: var(--color-button);
}

.category-button:hover {
  background-color: var(--color-button);
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0.5);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
